<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
</head>

<body>
<section class="content">
    <!-- Totalizador -->
    <div class="totalizador">
        <div class="contabilizador-salario">
            <h1 style="text-align: center;">Total</h1>
            <div>
                <p style="font-size: 35px; color: #000;">R$ 0,00</p>
            </div>
        </div>
    </div>

    <!-- Acionador do modal de Adicionar Compra -->
    <div class="expenses-menu">
        <p>Compras</p>
        <button name="addShopping" id="add">Adicionar</button>
    </div>

    <!-- Modal Adicionar Compra -->
    <div id="addModal" class="modal">
        <div class="modal-content">
            <h1>Compra</h1>
            <form th:action="@{/addShopping}" method="post">
                <div th:replace="~{fragments/components :: input-field('nome', 'Nome', 'text', 'nome', true, 'Digite o nome')}"></div>
                <div th:replace="~{fragments/components :: input-field('quantidade', 'Quantidade', 'text', 'nome', true, 'Digite a quantidade')}"></div>
                <div th:replace="~{fragments/components :: input-field('valor', 'Valor unitário', 'text', 'valor', true, 'Digite o valor unitário')}"></div>
                <div class="expense-button">
                    <button class="button">Salvar</button>
                    <button type="reset" class="button close"
                            style="background-color: white;color: #383e49;border: 1px solid #383e49;">Descartar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Lista de Despesas -->
    <div class="expenses">
        <div class="table" th:if="${expenseSize>0}">
            <table>
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Situação</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e : ${expenses}">
                    <td th:text="${e.nome}"></td>
                    <td th:text="${e.valor}"></td>
                    <td th:text="${#temporals.format(e.date, 'dd/MM/yyyy')}"></td>
                    <td class="status-content">
                        <span class="status" th:classappend="${e.situacao.nome == 'A Pagar' ? 'a-pagar' : 'pago'}"
                              th:text="${e.situacao.nome}"></span>
                    </td>
                    <td class="expense-action">
                        <a class="edit" data-bs-toggle="modal" data-bs-target="#editModal"
                           th:data-id="${e.id}" th:data-name="${e.nome}" th:data-amount="${e.valor}"
                           th:data-date="${e.date}" th:data-situacao="${e.situacao}"><i
                                class="fa-solid fa-pen-to-square"></i></a>
                        <a th:href="@{/removeExpense(id=${e.id})}"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="expenseEmpty" th:unless="${expenseSize>0}">Você não tem compras cadastradas. <br>Por favor, Adicione
            uma Compra!</p>

        <!-- Modal de Edição de Despesa -->
        <div id="edit" class="modal">
            <div class="modal-content">
                <h1>Editar Compra</h1>
                <form th:action="@{/updateExpense}" method="post">
                    <div th:replace="~{fragments/components :: input-field('nomeUpdate', 'Nome', 'text', 'nome', true, 'Digite o nome')}"></div>
                    <div th:replace="~{fragments/components :: input-field('quantidadeUpdate', 'Quantidade', 'text', 'nome', true, 'Digite a quantidade')}"></div>
                    <div th:replace="~{fragments/components :: input-field('valorUpdate', 'Valor unitário', 'text', 'valor', true, 'Digite o valor unitário')}"></div>
                    <input type="hidden" name="id" id="idUpdate">
                    <div class="expense-button">
                        <button class="button">Salvar</button>
                        <button type="reset" class="button close"
                                style="background-color: white; color: #383e49; border: 1px solid #383e49;">Descartar
                        </button>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <!-- Paginação -->
    <div class="counterPages" th:if="${expenseSize > 5}">
        <a th:href="@{/expenses(page=${currentPage - 1})}" th:if="${currentPage > 1}">
            <i class="fa-solid fa-chevron-left"></i> Anterior
        </a>
        <span th:text="${currentPage}"></span>
        <a th:href="@{/expenses(page=${currentPage + 1})}" th:if="${currentPage < totalPages}">
            Próximo <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>
</section>
</body>

</html>
