<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <section class="content">
        <span class="erro" style="display: none;"></span>
        <!-- Loading -->
        <div id="loading" class="loading-overlay">
            <div class="spinner"></div>
        </div>

        <!-- Totalizador -->
        <div class="contabilizador">
            <div>
                <h3 style="text-align: center;">Sobra</h3>
                <div class="skeleton-loader"></div>
                <p id="addLeftovers" style="color: green; font-size: 24px;"></p>
            </div>
            <div class="contabilizador-salario">
                <h3 style="text-align: center;">Salário</h3>
                <div>
                    <p id="salaryAmount" style="font-size: 24px; color: #000;"></p>
                    <div class="skeleton-loader"></div>
                    <a id="addAmount"><i class="fa-solid fa-pen"></i></a>
                </div>
            </div>
            <div>
                <h3 style="text-align: center;">Dívidas</h3>
                <div class="skeleton-loader"></div>
                <p id="addDebts" style="color:red;font-size: 24px;"></p>
            </div>
        </div>

        <!-- Modal Adicionar Salário -->
        <div id="addAmountModal" class="modal">
            <div class="modal-content">
                <h1>Salário</h1>
                <form id="formAddAmount">
                    <div class="input-field" style="flex-direction: column; align-items: center;">
                        <label for="valorAmount" style="text-align: start; margin-bottom: 5px;">Valor</label>
                        <input type="text" placeholder="Digite o valor" id="valorAmount" name="amountStr"
                            data-validate="required|money">
                    </div>
                    <div class="expense-button">
                        <button class="button" type="submit">Salvar</button>
                        <button type="reset" class="button close"
                            style="background-color: white;color: #383e49;border: 1px solid #383e49;">Descartar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Acionador do modal de Adicionar Despesa -->
        <div class="expenses-menu">
            <p>Despesas</p>
            <button name="addExpense" id="add">Adicionar</button>
        </div>

        <!-- Modal Adicionar Despesa -->
        <div id="addModal" class="modal">
            <div class="modal-content">
                <h1>Despesa</h1>
                <form id="despesaForm">
                    <div
                        th:replace="~{fragments/components :: input-field('nome', 'Nome', 'text', 'nome', false, 'Digite o nome')}">
                    </div>
                    <div
                        th:replace="~{fragments/components :: input-field('valor', 'Valor', 'text', 'valor', false, 'Digite o valor')}">
                    </div>
                    <div th:replace="~{fragments/components :: input-field('date', 'Data', 'date', 'date', false, '')}"></div>
                    <div th:replace="~{fragments/components :: select-situacao('situacao', 'situacao')}"></div>
                    <div class="expense-button">
                        <button class="button">Salvar</button>
                        <button type="reset" class="button close"
                            style="background-color: white;color: #383e49;border: 1px solid #383e49;">Descartar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Lista de Despesas -->
        <div class="expenses">
            <div class="table" th:if="${expenseSize>0}">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Data</th>
                            <th>Situação</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e : ${expenses}">
                            <td th:text="${e.nome}"></td>
                            <td th:text="${e.valor}"></td>
                            <td th:text="${#temporals.format(e.date, 'dd/MM/yyyy')}"></td>
                            <td class="status-content">
                                <span class="status"
                                    th:classappend="${e.situacao.nome == 'A Pagar' ? 'a-pagar' : 'pago'}"
                                    th:text="${e.situacao.nome}"></span>
                            </td>
                            <td class="expense-action">
                                <a class="edit" th:data-id="${e.id}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a th:href="@{/removeExpense(id=${e.id})}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <p class="expenseEmpty" th:unless="${expenseSize>0}">Você não tem despesas cadastradas. <br>Por favor,
                Adicione
                uma Despesa!</p>

            <!-- Modal de Edição de Despesa -->
            <div id="edit" class="modal">
                <div class="modal-content">
                    <h1>Editar Despesa</h1>
                    <form id="editExpense">
                        <div
                            th:replace="~{fragments/components :: input-field('nomeUpdate', 'Nome', 'text', 'nome', true, 'Digite o nome')}">
                        </div>
                        <div
                            th:replace="~{fragments/components :: input-field('valorUpdate', 'Valor', 'text', 'valor', true, 'Digite o valor')}">
                        </div>
                        <div
                            th:replace="~{fragments/components :: input-field('dateUpdate', 'Data', 'date', 'date', true, '')}">
                        </div>
                        <div th:replace="~{fragments/components :: select-situacao('situacaoUpdate', 'situacao')}">
                        </div>
                        <input type="hidden" name="id" id="idUpdate">
                        <div class="expense-button">
                            <button class="button">Salvar</button>
                            <button type="reset" class="button close"
                                style="background-color: white; color: #383e49; border: 1px solid #383e49;">Descartar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="counterPages" th:if="${expenseSize>0}">
            <a th:href="@{'/addExpenses?pageNumber='+${pageNumber-1}}" th:classappend="${isFirst} ? 'disabled' : ''"><i
                    class="fa-solid fa-chevron-left"></i> Anterior</a>
            <div>
                <a th:href="@{'/addExpenses?pageNumber='+${i-1}}" th:text="${i}"
                    th:classappend="${pageNumber+1==i} ? 'ativo':''" th:each="i:${#numbers.sequence(1,totalPages)}"></a>
            </div>
            <a th:href="@{'/addExpenses?pageNumber='+${pageNumber+1}}"
                th:classappend="${isLast} ? 'disabled' : ''">Próximo <i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </section>
</body>

</html>