<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <section class="content" id="confetti-container">
        <div class="contabilizador">
            <div>
                <h3 style="text-align: center;">Sobra</h3>
                <p th:if="${sobras != null}" style="color: green; font-size: 24px;">
                    [[${@commonUtils.formatCurrency(sobras)}]]
                </p>
            </div>
            <div class="contabilizador-salario">
                <h3 style="text-align: center;">Salário</h3>
                <div>
                    <p style="font-size: 24px; color: #000;">[[${@commonUtils.formatCurrency(user.salario)}]]</p>
                    <a id="addAmount"><i class="fa-solid fa-pen"></i></a>
                </div>
                <th:block th:if="${session.succMsg}">
                    <p class="success">[[${session.succMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${session.errorMsg}">
                    <p class="erro">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div>
                <h3 style="text-align: center;">Dívidas</h3>
                <p style="color:red;font-size: 24px;">[[${@commonUtils.formatCurrency(divida)}]]</p>
            </div>
        </div>
        <div id="addAmountModal" class="modal">
            <div class="modal-content">
                <h1>Salário</h1>
                <form action="/addAmount" method="post" id="formAddAmount">
                    <div class="input-field" style="flex-direction: row; align-items: center;">
                        <label for="valor" style="text-align: start;">Valor</label>
                        <input type="text" placeholder="Digite o valor" id="valor" name="amountStr" required>
                    </div>
                    <div class="expense-button">
                        <button class="button">Salvar</button>
                        <button type="reset" class="button close"
                            style="background-color: white;color: #383e49;border: 1px solid #383e49;">Descartar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="expenses-menu">
            <p>Despesas</p>
            <button name="addExpense" id="addExpense">Adicionar</button>
        </div>
        <div class="expenses">
            <div class="table" th:if="${expenseSize>0}">
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Nome</th>
                            <th rowspan="2">Valor</th>
                            <th rowspan="2">Data</th>
                            <th rowspan="2">Situação</th>
                            <th rowspan="2">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="e:${expenses}">
                            <td>[[${e.nome}]]</td>
                            <td>[[${e.valor}]]</td>
                            <td>[[${e.date}]]</td>
                            <td class="status-content"><span class="status" th:classappend="${e.situacao.nome == 'A Pagar' ? 'a-pagar' : 'pago'}">[[${e.situacao.nome}]]</span></td>
                            <td class="expense-action">
                                <a class="editExpense" data-bs-toggle="modal" data-bs-target="#editExpenseModal"
                                th:data-id="${e.id}" th:data-name="${e.nome}" th:data-amount="${e.valor}"
                                    th:data-date="${e.date}" th:data-situacao="${e.situacao}"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a th:href="@{'/removeExpense?id='+${e.id}}"><i class="fa-regular fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="expenseEmpty" th:unless="${expenseSize>0}">Você não tem despesas cadastradas. <br>Por favor
                Adicione uma Despesa!</p>
            <div id="editExpenseModal" class="modal">
                <div class="modal-content">
                    <h1>Editar Despesa</h1>
                    <form action="/updateExpense" method="post">
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="nome" style="text-align: start;">Nome</label>
                            <input type="text" placeholder="Digite o nome" id="nome" name="nome" required>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="valor" style="text-align: start;">Valor</label>
                            <input type="text" placeholder="Digite o valor" id="valor" name="valor" required>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="date" style="text-align: start;">Data</label>
                            <input type="date" id="date" name="date" required>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="situacao" style="text-align: start;">Situação</label>
                            <select name="situacao" id="situacao" required>
                                <option value="A Pagar">A Pagar</option>
                                <option value="Pago">Pago</option>
                            </select>
                        </div>
                        <input type="hidden" name="id" id="id">
                        <div class="expense-button">
                            <button class="button">Salvar</button>
                            <button type="reset" class="button close"
                                style="background-color: white; color: #383e49; border: 1px solid #383e49;">Descartar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="addExpenseModal" class="modal">
                <div class="modal-content">
                    <h1>Despesa</h1>
                    <form action="/addExpense" method="post" th:object="${expenseDTO}">
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="nome" style="text-align: start;">Nome</label>
                            <input type="text" autofocus placeholder="Digite o nome" id="nome" name="nome" th:field="*{nome}">
                            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color:red"></span>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="valor" style="text-align: start;">Valor</label>
                            <input type="text" placeholder="Digite o valor" id="valor" name="valor" th:field="*{valor}" required>
                            <span th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}" style="color:red"></span>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="date" style="text-align: start;">Data</label>
                            <input type="date" id="date" name="date" th:field="*{date}">
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" style="color:red"></span>
                        </div>
                        <div class="input-field" style="flex-direction: row; align-items: center;">
                            <label for="situacao" style="text-align: start;">Situação</label>
                            <select name="situacao" id="situacao" th:field="*{situacao}">
                                <option value="">Selecione</option>
                                <option value="A Pagar">A Pagar</option>
                                <option value="Pago">Pago</option>
                            </select>
                            <span th:if="${#fields.hasErrors('situacao')}" th:errors="*{situacao}" style="color:red"></span>
                        </div>
                        <input type="hidden" name="id">
                        <div class="expense-button">
                            <button class="button">Salvar</button>
                            <button type="reset" class="button close"
                                style="background-color: white;color: #383e49;border: 1px solid #383e49;">Descartar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="counterPages" th:if="${expenseSize>10}">
            <a href=""><i class="fa-solid fa-chevron-left"></i> Anterior</a>
            <a href="">1</a>
            <a href="">Próximo <i class="fa-solid fa-chevron-right"></i></a>
        </div>
    </section>
</body>

</html>