<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <section class="content-container flex column center spaceEve">
        <label class="text" for="valorTotal">Valor Total</label>
        <h1 id="valorTotal">R$ 180,00</h1>
        <form method="get" class="container-left flex column">
            <div class="campo-container flex spaceBet">
                <label for="nome">Nome do Produto</label>
                <input type="text" placeholder="Digite o nome" name="nome" id="nome">
            </div>
            <div class="campo-container flex spaceBet">
                <label for="valorUnitario">Valor Unitário</label>
                <input type="text" placeholder="Digite o valor" name="valorUnitario" id="valorUnitario">
            </div>
            <div class="campo-container flex spaceBet">
                <label for="quantidade">Quantidade</label>
                <input type="number" placeholder="Digite o quantidade" name="quantidade" id="quantidade">
            </div>
            <button><i class="fa-solid fa-plus"></i> Cadastrar</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor Unitário</th>
                    <th scope="col">Valor Total</th>
                    <th scope="col">Quantidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Conta de luz</td>
                    <td>R$ 15,00</td>
                    <td>R$ 170</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Conta de luz</td>
                    <td>R$ 15,00</td>
                    <td>R$ 170</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Conta de luz</td>
                    <td>R$ 15,00</td>
                    <td>R$ 170</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Conta de luz</td>
                    <td>R$ 15,00</td>
                    <td>R$ 170</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>