<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        <section class="content-container flex spaceBet">
            <h1>Olá, Amilton!</h1>
            <label for="search">
                <i class="fa-solid fa-magnifying-glass text-dark icon"></i>
                <input type="search" class="input-search" placeholder="Search" id="search">
            </label>
        </section>
    </body>
</html>