<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <section class="content">
        <div class="chart-container">
            <h1>Comparação mensal</h1>
            <canvas id="expensesChart"></canvas>
        </div>
        <script th:inline="javascript">
            const ctx = document.getElementById('expensesChart').getContext('2d');
            const meses = [[${ mesesValor }]];
            const mesesString = [[${ meses }]]

            const expensesChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: mesesString,
                    datasets: [
                        {
                            label: "Meses do ano atual",
                            data: meses,
                            backgroundColor: '#0f766e'),
                            borderRadius: 4,
                            barThickness: 30,
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            bottom: 30
                        }
                    },
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top',
                            labels: {
                                usePointStyle: true,
                                boxWidth: 10
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    const value = tooltipItem.raw;
                                    return value.toLocaleString('pt-BR', {
                                        style: 'currency',
                                        currency: 'BRL',
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    });
                                }
                            }
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                callback: function (value) {
                                    const formatter = new Intl.NumberFormat('pt-BR', {
                                        style: 'currency',
                                        currency: 'BRL',
                                        minimumFractionDigits: 2,
                                        maximumFractionDigits: 2
                                    });
                                    return formatter.format(value);
                                }
                            },
                            max: 5000
                        }
                    }
                }
            });
        </script>
    </section>
</body>

</html>