<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <section class="container-login">
        <div class="form-login">
            <div class="login-header">
                <h1 class="login-title">Gerenciar</h1>
            </div>
            <form>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" class="input-email" placeholder="Digite seu email" id="email">
                </div>

                <div class="input-field">
                    <div class="login-password">
                        <label for="senha">Senha</label>
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                    <input type="password" class="input-senha" placeholder="Digite sua senha" id="senha">
                </div>
                <div class="login-button">
                    <button class="button">Login</button>
                    <a th:href="@{/register}">Cria uma conta</a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>