<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <section class="container-login">
        <div class="form-login">
            <div class="login-header">
                <h1 class="login-title">Gerenciar</h1>
                <h2 class="login-description">Crie uma Conta</h2>
            </div>
            <th:block th:if="${session.succMsg}">
                <p class="success">[[${session.succMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <th:block th:if="${session.errorMsg}">
                <p class="erro">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
            <form th:action="@{/saveUser}" method="post">
                <div class="input-field">
                    <label for="nome">Nome</label>
                    <input type="text" class="input-nome" placeholder="Digite seu nome" id="nome" name="name">
                </div>

                <div class="input-field">
                    <label for="email">Email</label>
                    <input type="email" class="input-email" placeholder="Digite seu email" id="email" name="email">
                </div>

                <div class="input-field">
                    <div class="login-password">
                        <label for="senha">Senha</label>
                    </div>
                    <input type="password" class="input-senha" placeholder="Digite sua senha" id="senha" name="password">
                </div>
                <div class="input-field">
                    <div class="login-password">
                        <label for="senha">Confirmação de Senha</label>
                    </div>
                    <input type="password" class="cinput-senha" placeholder="Digite sua confirmação senha" id="csenha">
                </div>
                <div class="login-button">
                    <button class="button">Cadastrar</button>
                    <a th:href="@{/login}"><span>Já tem uma conta?</span> <strong>Faça login agora!</strong></a>
                </div>
            </form>
        </div>
    </section>
    <script defer src="/js/scripts.js"></script>
</body>
</html>